﻿<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>

<div ng-app="addressLookupApp">
   <div ng-controller="addressLookupController" class="box-table">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h2>Search Users</h2>
               <div id="custom-search-input">
                  <div class="input-group col-md-12">
                     <input type="text" class="form-control input-lg" ng-keyup="searchUsers()" ng-model="searchText" placeholder="type to search" />
                     <span class="input-group-btn">
                        <i class="glyphicon glyphicon-search"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br />
      <table>
         <thead>
            <tr>
               <th>Photo</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Age</th>
               <th>Address</th>
               <th>Interests</th>
            </tr>
         </thead>
         <tr ng-repeat="user in users">
            <td class="user-photo"><img class="user-tumb" ng-src="{{user.pictureUrl}}" /></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>
               {{user.address.line1}}<br />
               {{user.address.line2}}<br ng-if="user.address.line2 !== undefined" />
               {{user.address.city}}, {{user.address.state}} {{user.address.zip}}
            </td>
            <td>
               <div ng-repeat="interest in user.interests">{{interest.name}}</div>
            </td>
            <td><button type="button" class="btn btn-danger" ng-click="removeUser(user.userId)">Remove</button></td>
            @*<user-data user="user"></user-data>*@
         </tr>
         <tr>
            <td><input ng-model="addImageUrl" placeholder="image url" /></td>
            <td><input ng-model="addFirstName" placeholder="first name" /></td>
            <td><input ng-model="addLastName" placeholder="last name" /></td>
            <td><input ng-model="addAge" placeholder="age" /></td>
            <td>
               <input ng-model="addLine1" placeholder="line 1" />
               <input ng-model="addLine2" placeholder="line 2" />
               <input ng-model="addCity" placeholder="city" />
               <input ng-model="addState" placeholder="state" />
               <input ng-model="addZip" placeholder="zip" />
            </td>
            <td>
               <input ng-model="addInterests" placeholder="comma separated interests" />
            </td>
            <td><button type="button" class="btn btn-warning" ng-click="addUser()">Add</button></td>
         </tr>
      </table>
   </div>
</div>