﻿<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Super Awesome User Search!</title>
   @Styles.Render( "~/Content/css/styles" )
   @Scripts.Render( "~/bundles/modernizr" )

</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top header-title">Super Awesome User Search!</div>
   <div class="container body-content">
      @RenderBody()
      <hr />
      <footer>
         <p>&copy; @DateTime.Now.Year - Ty Jones - Super Awesome User Search!</p>
      </footer>
   </div>

   @Scripts.Render( "~/bundles/jquery" )
   @Scripts.Render( "~/bundles/bootstrap" )
   @Scripts.Render( "~/bundles/angular" )
   @Scripts.Render( "~/bundles/addressLookupApp" )
   @RenderSection( "scripts", required: false )
</body>
</html>
